= form_for @experiment do |f|
  - if @experiment.errors.any?
    ul.errors
      - @experiment.errors.full_messages.each do |message|
        li = message

  .row
    .four.columns
      .field
        = f.label :name
        = f.text_field :name, class: 'u-full-width'
    .eight.columns
      .field
        = f.label :description
        = f.text_area :description, rows: 35, class: 'u-full-width', placeholder: 'Write your experiment description here...'

  .row
    .four_columns
      .field 
        = f.label :timeout
        = f.number_field :timeout, class: 'u-full-width' , placeholder: 'Time in minutes after which the participant is discarded if s/he doesn\'t finish the experiment.'

  h5 = t(:part_plural)
  #experiment_parts
    = f.fields_for :parts do |part|
      = render 'part_fields', f: part
    .links
      = link_to_add_association t(:add_part), f, :parts

  br
  .actions
    = f.submit class: 'button-primary'
