img
{
	position: absolute;
	top: 0px;
	left: 0px;
}
#c 
{
	position: absolute;
	top: 0px;
	left: 0px;
}
#gaugeCanvas
{
	position: absolute;
	top:0px;
	left:0px;
}
#controls
{
	position:absolute;
	top: 0px;
	left: 800px;
	width: 240px;
	height: 800px;
	background-color: #424A5D;
}

#infobox
{
	color:#fff;
	font-family: "Courier New";
	font-size: 80%;
	width: 80%;
	margin:0 auto 0;
	margin-top: 100px;
	text-align: justify;
}

#infoboxT
{
	color:#fff;
	font-family: "Courier New";
	font-size: 80%;
	width: 80%;
	margin:0 auto 0;
	margin-top: 30px;
	text-align: justify;
}

.buttons
{
	border-radius:50%;
	color: #fff;
	background-color: #222A3D;
	border: solid white 2px;
	font-size:24px;
	width: 40px;
	height: 40px;
	transition: 0.3s;
}
.buttons:hover, #nextButton:hover, #resetButton:hover, #gaugeSetButton:hover, #depthChoose > button:hover
{
	background-color: #12A4B8;
}
#upButton
{
	position:relative;
	margin-top: 50px;
	margin-left: 100px;
}
#downButton
{
	position:relative;
	margin-left: 100px;
}
#leftButton
{
	position:relative;
	margin-left:50px;
}
#rightButton
{
	position:relative;
	margin-left: 55px;

}

#resetButton
{
	position:relative;
	margin-top: 50px;
	width: 120px;
	height: 40px;
	margin-left: 60px;
	border-radius: 20px;
	border: solid white 2px;
	background-color: #222A3D;
	color: #fff;
	font-family: "Courier New";
	font-style: bold;	
}
#nextButton, #gaugeSetButton
{
	position:relative;
	margin-top: 10px;
	width: 120px;
	height: 40px;
	margin-left: 60px;
	border-radius: 20px;
	border: solid white 2px;
	background-color: #222A3D;
	color: #fff;
	font-family: "Courier New";
	font-style: bold;	
}
#depthChoose > button
{
	margin-top: 50px;
	width: 75px;
	height: 40px;
	border-radius: 20px;
	border: solid white 2px;
	background-color: #222A3D;
	color: #fff;
	font-family: "Courier New";
	font-style: bold;	
	margin-left: 30px;
}
#depthChoose > #noText
{
	position:relative;
	margin-top:20px;
	margin-left: 60px;
	width: 120px;

}
.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
#arrowRight {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

#arrowLeft {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#arrowUp {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

#arrowDown {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#finish
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1024px;
	height: 800px;
	background-color: #424A5D;
}
#readabilityLabel
{
	position:absolute;
	margin-top: 30px;
	width: 180px;
	height: 20px;
	margin-left: 30px;
	font-size: 12px;
}
#readabilityInput
{
	position:relative;
	margin-top: 55px;
	width: 180px;
	height: 20px;
	margin-left: 30px;
	border-radius: 20px;
	border: solid white 2px;
	margin-bottom: 10px;
}
.white-text 
{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

#depthChoose > button:disabled
{
	background-color: #c6c6c6;
	color: #656565;
	border-color: gray;
}

#lLabel, #rLabel
{
	position:absolute;
	width: 180px;
	height: 20px;
	margin-left: 30px;
	font-size: 12px;
}
#lLabel
{
	margin-top:50px;
}
#rLabel
{
	margin-top:115px;
	margin-left:-183px;
}

#buttons > input
{
	width: 180px;
	height: 20px;
	margin-left: 30px;
	border-radius: 20px;
	border: solid white 2px;
	margin-bottom: 10px;
}
#buttons > #leftInput
{
	margin-top: 70px;
}
#buttons > #rightInput
{
	margin-top: 30px;
}