#startTest
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1024px;
	height: 800px;
	background-color: #424A5D;
}

#startTestPanel
{
	position:absolute;
	margin: 0 auto 0;
}
h1
{
    font-weight: 700;
    margin-top: 120px;
    margin-left: 150px;
    margin-bottom: 20px;
    color: #10161A;
	text-transform: uppercase;
}
p
{	
	margin-left: 160px;
	margin-right: 100px;
	font-size: 13px;
}

.white-text 
{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

button
{
	width: 200px;
	height: 50px;
	border-radius: 20px;
	border: solid white 2px;
	background-color: #222A3D;
	color: #fff;
	font-family: "Courier New";
	font-style: bold;
	transition: 0.3s;
}
button:hover
{
	background-color: #12A4B8;
}
button:disabled
{
	background-color: #c6c6c6;
	color: #656565;
	border-color: gray;
}
#startShapeButton
{
	margin-top: 50px;
	margin-left:250px;
}
#startDepthButton
{
	margin-top: 50px;
	margin-left: 80px;
}

#startButton
{
	position:relative;
	margin-top: 10px;
	width: 200px;
	height: 50px;
	margin-left: 200px;
	border-radius: 20px;
	border: solid white 2px;
	background-color: #222A3D;
	color: #fff;
	font-family: "Courier New";
	font-style: bold;
}
#bStart
{
	width: 200px;
	height: 50px;
	border-radius: 20px;
	border: solid white 2px;
	background-color: #222A3D;
	color: #fff;
	font-family: "Courier New";
	font-style: bold;
}

input
{
	margin-left: 20px;
	margin-top: 5px;
}

#infoForm
{
	position:relative;
	border-radius: 20px;
	border: solid white 2px;
	margin: 0 auto 0;
	margin-top: 100px;
	width:300px;
	padding: 20px 0px 20px 20px;
	color: #fafafa;
	background-color: #65718D;
}
#test, #labelTest
{
	width: 60px;
	height: 20px;
}